:root {
    --op-color-background: var(--op-color-neutral-plus-max);
    --op-color-on-background: var(--op-color-neutral-on-plus-max);
    --op-color-on-background-alt: var(--op-color-neutral-on-plus-max-alt);
}