.games-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--op-space-3x-large);
    padding-block: var(--op-space-2x-large);
    gap: var(--op-space-x-large);
}