.navigation-panel {
    padding: var(--op-space-2x-large) var(--op-space-large);
    box-shadow: var(--op-border-all) var(--op-color-border);
    background-color: var(--op-color-neutral-plus-eight);

    .navigation-panel__primary-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--op-space-2x-large);
        flex: 1 0 0;

        .side-panel__header {
            // TODO: get this font
            // font-family: "Finger Paint";
        }

        .side-panel__body {
            display: flex;
            flex-direction: column;
            width: 100%;

            gap: var(--op-space-2x-small);

            .btn {
                justify-content: start;
            }
        }
    }

    .navigation-panel__secondary-navigation {
        display: flex;
        padding-top: var(--op-space-medium);
        flex-direction: column;
        gap: var(--op-space-2x-small);

        .btn {
            justify-content: start;
        }
    }
}