.ransack-filter {
  display: flex;
  width: 100%;
  // padding-inline: var(--op-space-4x-large);
  justify-content: space-between;
  gap: var(--op-space-medium);

  .ransack-form {
    display: flex;
    gap: var(--op-space-small);
  }
}