.accordion {
    .accordion__heading {
        font-size: var(--op-font-large);
    }

    .accordion__contents {
        max-width: var(--op-breakpoint-medium);

        summary {
            display: flex;
            height: var(--op-input-height-large);
            padding-inline: var(--op-space-x-small) var(--op-space-medium);

            border-top-left-radius: var(--op-radius-medium);
            border-top-right-radius: var(--op-radius-medium);
            box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
            background-color: var(--op-color-primary-plus-eight);

            font-size: var(--op-font-medium);
            color: var(--op-color-primary-on-plus-eight);

            .player-name {
                display: flex;
                align-items: center;
                gap: var(--op-space-x-small);
                flex: 1 0 0;
            }

            .player-details {
                display: flex;
                gap: var(--op-space-x-large);
            }
        }

        .player-cards {
            display: grid;
            grid-template-columns: 1fr auto;
            padding: var(--op-space-small) var(--op-space-medium);
            gap: var(--op-space-x-large);

            border-bottom-left-radius: var(--op-radius-medium);
            border-bottom-right-radius: var(--op-radius-medium);
            box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
            background-color: var(--op-color-neutral-plus-eight);
        }
    }
}