.user-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--op-breakpoint-small);
  gap: var(--op-space-x-small);

  .user-list__header {
    display: flex;
    padding-bottom: var(--op-space-x-small);
    justify-content: space-between;
    align-items: flex-end;

    color: var(--op-color-neutral-on-plus-max);
    font-size: var(--op-font-small);
    font-weight: var(--op-font-weight-semi-bold);
  }
}